.deactivated_cell{
    -fx-background-color: rgb(222, 222, 222);
    -fx-border-width: 0.5px;
    -fx-border-style: solid;
    -fx-border-color: grey;
}

.deactivated_cell:selected{
    -fx-background-color: rgb(122, 122, 122);
    -fx-border-color: black;
}

.custom_cell{
    -fx-alignment: CENTER;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.cellEnd{
    -fx-border-width: 2px 1px 0px 0px;
    -fx-border-color: black;
}

.filledCell{
    -fx-background-color: rgb(161, 244, 66);
}

.filledCellSingle{
    -fx-background-color: rgb(161, 244, 66);
    -fx-background-radius: 5 5 10 7;
    -fx-border-width: 0px 1px 3px 0px;
    -fx-border-color: white;
}

.filledCellTop{
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: rgb(161, 244, 66);
}

.filledCellBottom{
    -fx-border-width: 0px 1px 3px 0px;
    -fx-border-color: white;
    -fx-background-radius: 0 0 10 7;
    -fx-background-color: rgb(161, 244, 66);
}

.tempSelect{
    -fx-background-color: rgba(106, 226, 212, 0.8);
}

.tempSelectSingle{
    -fx-background-color: rgba(106, 226, 212, 0.8);
    -fx-background-radius: 5 5 10 7;
    -fx-border-width: 0px 1px 3px 0px;
    -fx-border-color: white;
}

.tempSelectTop{
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: rgba(106, 226, 212, 0.8);
}

.tempSelectBottom{
    -fx-border-width: 0px 1px 3px 0px;
    -fx-border-color: white;
    -fx-background-radius: 0 0 10 7;
    -fx-background-color: rgba(106, 226, 212, 0.8);
}